body {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(22, 181, 22));
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 30px;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    margin: 10px;
}

.main {
    width: auto;
    margin: 20px;
    padding: 20px;
}

.main .navbar {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    background-image: linear-gradient(black, rgb(12, 49, 12));
    z-index: 100;
    top: 0;
    height: 70px;
    padding-top: 20px;
}

.lidtsp {
    margin-left: 15px;
}

.navbar-lnav {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-left: 0px;
}


nav .nav-linkk {
    font-size: large;
    color: white;
    text-decoration: none;
    transition: all .5s;
    padding: 20px;
}

nav .nav-itemm:hover {
    transform: scale(1.1);
}

.nav-linkk:hover {
    color: rgb(32, 124, 57);
}

nav .nav-linkk:active {
    background-color: rgb(9, 113, 18);
    border-radius: 5px 25px 5px 25px;
    border-style: outset;
    border: 2px;
    border-color: white;
    color: white;
    height: 50px;
}

#page1 .container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    background-color: #55ce5911;
    box-shadow: 0px 0px 10px #000000fe;
    border-radius: 16px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wnote {
    width: 100%;
    list-style: none;
    background-color: white;
    border-radius: 25px;
    height: 250px;
    transition: all 0.5s;
}

.wnote .welcmsg {
    color: green;
    margin: 0px;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 60px;
    font-family: Ephesis;
}

.wnote .midword {
    color: rgb(0, 0, 0);
    margin: 0px;
    margin-left: 50%;
    margin-top: 5%;
    font-family: Inter;
    font-size: 30px;
    font-style: italic;
    font-weight: 1px;
}

.wnote .pharmaname {
    color: rgb(0, 0, 0);
    margin: 0px;
    margin-left: 50%;
    margin-top: 7%;
    font-family: Julius Sans One;
    margin-bottom: 10px;
    font-weight: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
}

.elebtn {
    width: 100%;
    position: relative;
    cursor: pointer;
    height: 180px;
    font-size: 50px;
    font-family: Kodchasan;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0px 4px 4px #000;
    box-sizing: border-box;
    border: 0;
    padding: 10px 10px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.elebtn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);

}

@media screen and (max-width:646px) {
    main {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container1 {
        margin-left: 0px;
        margin-right: 0px;
        padding: 35px;
    }
}

#page1{
    height: fit-content;
    width: 100vw;
}
#page2{
    height: fit-content;
    width: 100vw;
}
#page3{
    height: fit-content;
    width: 100vw;
}

.container2{
    background-color:rgba(71, 104, 71, 0.397);
    margin: 20px;
    padding: 10px;
    height: auto;
    width: auto;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.drop{
    padding: 5px;
    font-family: Inter;
}

.order-cart{
    display: flex;
    float: right;
}
.btn-warning{
    margin: 10px;
}

.container3{
    background-color:rgba(71, 104, 71, 0.397);
    margin: 20px;
    padding: 10px;
    height: auto;
    width: auto;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.header{
    color: white;
    text-decoration: none;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.cart{
    background-color: green;
    color: white;
    text-decoration: none;
    border-style: none;
    border-radius: 25px;
    padding: 10px;
    transition: all, 0.2s;
}

.cart:hover{
    background-color: rgb(5, 80, 5);
}